*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #000;
  color: #fff;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-secondary {
  font-size: 3.25rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right,  #006570, #006570);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.5s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

/* Buttons and all of starting that is tour guide */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  animation-name: bottomToTop;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-white::after {
  background-color: #fff;
}
.btn-green {
  background-color: #55cf7a;
  color: #fff;
}
.btn-green::after {
  background-color: #55cf7a;
}


/* Each city card */
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
  background-image: -o-linear-gradient(to right bottom, #ffb900, #ff7730);
  background-image: -moz-linear-gradient(to right bottom, #ffb900, #ff7730);
  background-image: -webkit-linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7edf6f, #28b485);
  background-image: -o-linear-gradient(to right bottom, #7edf6f, #28b485);
  background-image: -moz-linear-gradient(to right bottom, #7edf6f, #28b485);
  background-image: -webkit-linear-gradient(to right bottom, #7edf6f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  background-image: -o-linear-gradient(to right bottom, #2998ff, #5643fa);
  background-image: -moz-linear-gradient(to right bottom, #2998ff, #5643fa);
  background-image: -webkit-linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url(Images/Hyderabad.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, #7edf6f, #28b485),
    url(Images/Delhi.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url(Images/Varanashi.jpg);
}
.card__picture--4 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
    url(Images/Jaipur.jpg);
}
.card__picture--5 {
  background-image: linear-gradient(to right bottom, #7edf6f, #28b485),
    url(Images/Gaya.jpg);
}
.card__picture--6 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url(Images/Vadodara.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  color: #fff;
  text-align: right;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
  background-image: -o-linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
  background-image: -moz-linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
  background-image: -webkit-linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 223, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
  background-image: -o-linear-gradient(
    to right bottom,
    rgba(126, 223, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
  background-image: -moz-linear-gradient(
    to right bottom,
    rgba(126, 223, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
  background-image: -webkit-linear-gradient(
    to right bottom,
    rgba(126, 223, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  background-image: -o-linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  background-image: -moz-linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  background-image: -webkit-linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}


/* Media Query */
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    text-align: center;
    width: 100%;
    padding: 6rem 0;
  }
  
}

/* Grid of cities */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      #006570,  #006570
    ),
    url(../img/hero-small.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
}
@media (min-resolution: 192dpi) and (min-width: 37.5em),
  (-webkit-min-device-pixel-ratio: 192dpi) and (min-width: 37.5em),
  (min-width: 125em) {
  .header {
    background-image: linear-gradient(
        to right bottom,
        #006570,  #006570
      ),
      url(../img/hero.jpg);
  }
}
@media (max-width: 56.25em) {
  .header {
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%);
  }
}
@media (max-width: 37.5em) {
  .header {
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100vh, 0% 100%);
    background-image: linear-gradient(
        to right bottom,
        #006570,  #006570
      ),
      url(../../img/hero-small.jpg);
  }
}
.section-tours {
  background-color: #f7f7f7;
  padding: 15rem 0 5rem 0;
  margin-top: -9rem;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}
